[submodule "zstr"]
	path = zstr
	url = https://github.com/mateidavid/zstr.git
[submodule "concurrentqueue"]
	path = concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "parallel-hashmap"]
	path = parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "BBHash"]
	path = BBHash
	url = https://github.com/maickrau/BBHash.git
